.toggle-button{
    	-fx-background-color: white; 
	-fx-border-width: 4; 
	-fx-border-color: #10ebb8; 
	-fx-background-radius: 0; 
	-fx-text-fill: black;
}

.toggle-button:selected{
    	-fx-background-color: rgba(255, 199, 199, 1); 
	-fx-border-width: 4; 
	-fx-border-color: #10ebb8; 
	-fx-background-radius: 0; 
	-fx-text-fill: black;
}